@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #555;
  background: #585c68;
}

.bold {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0.2rem;
  font-family: 'Abril Fatface', cursive;
}

.semi-bold {
  font-size: 1.2rem;
  font-weight: 600;
}

.resume {
  width: 95vw;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}

.resume-left {
  background: #0abab5;
}

.resume-profile {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center right;
  padding-bottom: 1rem;
}

.resume-content {
  padding: 0 1.5rem;
}

.resume-item {
  padding: 1.5rem 0;
  border-bottom: 2px solid #b1eaff;
}

.resume-left .resume-item:last-child,
.resume-right .resume-item:last-child {
  border-bottom: 0px;
}

.title {
  margin-bottom: 1.25rem;
}

.resume-left .bold {
  color: #fff;
}

.resume-left .regular {
  color: #b1eaff;
}

.resume-left ul {
  list-style: none;
}

.resume-info ul li {
  display: flex;
  align-items: center;
  margin-bottom: 0.6rem;
  color: #b1eaff;
}

.resume-info ul li:last-child {
  margin-bottom: 0rem;
}

.icon {
  width: 35px;
  height: 35px;
  background: #fff;
  color: #0abab5;
  border-radius: 50%;
  position: relative;
  font-size: 1rem;
  margin-right: 1rem;
}

.icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resume-about {
  color: #b1eaff;
}

.resume-social a {
  color: #fff;
  width: 200px;
  margin-right: 0.6rem;
}

.resume-skills ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.skill-name {
  background: #fff;
  padding: 0.75rem 1rem;
  color: #0abab5;
  border-radius: 10px;
  text-align: center;
}

.resume-right {
  padding: 1.5rem;
  /* margin-bottom: 1rem; */
  background: #fff;
}

.resume-right .bold {
  color: #0abab5;
}

.organisation {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.organisation img {
  width: 50px;
  height: 50px;
}

.organisation a {
  text-decoration: none;
  color: #0abab5;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.info {
  margin-top: 1rem;
  line-height: 1.8rem;
}

.roles,
.achievements {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.courses {
  margin-bottom: 1rem;
}

.resume-hobby ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.resume-hobby ul li {
  width: 80px;
  height: 80px;
  border: 2px solid #0abab5;
  color: #0abab5;
  border-radius: 50%;
  position: relative;
  font-size: 1.8rem;
}

.resume-hobby ul li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* large screens */
@media screen and (min-width: 768px) {
  body {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .resume {
    width: 80vw;
    display: flex;
    flex-direction: row;
  }
  .resume-left {
    width: 280px;
  }
  .bold {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }
  .semi-bold {
    font-size: 1rem;
  }
  .icon {
    cursor: pointer;
  }
  .resume-social a {
    width: 500px;
  }
  .resume-social a:hover {
    color: #b1eaff;
  }
  .skill-name {
    cursor: pointer;
  }
  .skill-name:hover {
    background: #b1eaff;
    color: #fff;
  }
  .organisation a {
    font-size: 1rem;
  }
  .info {
    line-height: 1.5rem;
  }
  .resume-hobby ul {
    cursor: pointer;
  }
}
